<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Osikemhekhai Bruno">
    <meta name="description" content="Amicable Fashion Home">
    <meta name="viewport" content="width = device-width">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/large.css">
    <title>Amicable Fashion Home</title>
</head>
<body>
<header>
    <nav class="nav-wrapper" role="navigation" id="nav">
        <div class="navbar">
            <a href="index.html"><div class="c-header-logo m-hidden-inline">Amicable Fashion Home</div></a>
            <a href="index.html"><div class="c-header-logo s-hidden-inline">Amicable Fashion Home</div></a>
            <div class="header-right">
                <div class="c-header-singup s-hidden-inline">E-mail sing up</div>
                <div class="c-header-bag"><a href="shopping-bag.html">Bag <span class="c-header-bag-price" id="header-bag-price"></span> (<span class="c-header-bag-quantity" id="header-bag-quantity">0</span>)</a></div>
                <div class="menu m-hidden-inline">
                    <div class="wrapper-menu-icon">
                        <div class="mobile-menu__icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-links radio_buttons_wrapper">
            <ul>
                <li><a href="catalog.html" class="menu__link radio_button is-active">Women</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Men</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Handbags</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Accessories</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Sale</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">New Arrivals</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Clerance</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Store Locator</a></li>
            </ul>
            <div id="search-block" class="c-header-search">
                <form action="" method="post" class="search">
                    <input type="search" name="" placeholder="Style Name" class="search__input" />
                    <input type="button" name="" value="" class="search__submit" />
                </form>
            </div>
        </div>
    </nav>
</header>
<main class="large-top-border">
    <div class="top-block-wrapper" id="filter">
        <div class="filter-wrapper" >
            <div class="filter-titles">
                <div class="filter-inside-wrapper">
                    <div class="filter-item"><span id="filter-style-select" class="filter-item-title">Fashion</span><span class="koma">, </span></div>
                    <div class="filter-item"><span id="filter-type-select" class="filter-item-title">Product type</span><span class="koma">, </span></div>
                    <div class="filter-item"><span id="filter-color-select" class="filter-item-title">Color</span><span class="koma">, </span></div>
                    <div class="filter-item"><span id="filter-brand-select" class="filter-item-title">Brand</span><span class="koma">, </span></div>
                    <div class="filter-item"><span id="filter-size-select" class="filter-item-title">Size</span><span class="koma">, </span></div>
                    <div class="filter-item"><span id="filter-price-select" class="filter-item-title">Price</span></div>
                </div>
                <div class="drop-down-ico"></div>
            </div>
            <div class="dropdown-filter">
                <div class="filter-section" data-select="filter-style-select">
                    <div class="f-section-title-block">
                        <div class="f-section-title-wrap">
                            <span class="f-section-title">
                                Fashion
                            </span>
                        </div>
                    </div>
                    <ul class="filter-section-list radio_buttons_wrapper">
                        <li class="not-selected filter-list-item radio_button is-active" data-default="Fashion"><a href="javascript:void(0);">Not selected</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Nail the 90s</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Casual style</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">New Look</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Sport</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Vintage</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Сlassical style</a></li>
                    </ul>
                </div>
                <div class="filter-section" data-select="filter-type-select">
                    <div class="f-section-title-block">
                        <span class="f-section-title">
                            Product type
                        </span>
                    </div>
                    <ul class="filter-section-list radio_buttons_wrapper">
                        <li class="not-selected filter-list-item radio_button is-active" data-default="Product type"><a href="javascript:void(0);">Not selected</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Coats & Jackets</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Dresses</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Jersey Tops</a></li>
                    </ul>
                </div>
                <div class="filter-section" data-select="filter-color-select">
                    <div class="f-section-title-block">
                        <span class="f-section-title">
                            Color
                        </span>
                    </div>
                    <ul class="filter-section-list radio_buttons_wrapper">
                        <li class="not-selected filter-list-item radio_button is-active" data-default="Color"><a href="javascript:void(0);">Not selected</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Black</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Blue</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Red</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Green</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Golden</a></li>
                    </ul>
                </div>
                <div class="filter-section" data-select="filter-brand-select">
                    <div class="f-section-title-block">
                        <span class="f-section-title">
                            Brand
                        </span>
                    </div>
                    <ul class="filter-section-list radio_buttons_wrapper">
                        <li class="not-selected filter-list-item radio_button is-active" data-default="Brand"><a href="javascript:void(0);">Not selected</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Chi Chi London</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Antipodium</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">Adidas</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">New Balance</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">River Island</a></li>
                    </ul>
                </div>
                <div class="filter-section" data-select="filter-size-select">
                    <div class="f-section-title-block">
                        <span class="f-section-title">
                            Size
                        </span>
                    </div>
                    <ul class="filter-section-list radio_buttons_wrapper">
                        <li class="not-selected filter-list-item radio_button is-active" data-default="Size"><a href="javascript:void(0);">Not selected</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 2</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 18</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 18L</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 20</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 20L</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 20S</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 22S</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">UK 22</a></li>
                    </ul>
                </div>
                <div class="filter-section" data-select="filter-price-select">
                    <div class="f-section-title-block">
                        <span class="f-section-title">
                            Price range
                        </span>
                    </div>
                    <ul class="filter-section-list radio_buttons_wrapper">
                        <li class="not-selected filter-list-item radio_button is-active" data-default="Price"><a href="javascript:void(0);">Not selected</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">To £99</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">£100-£299</a></li>
                        <li class="filter-list-item radio_button"><a href="javascript:void(0);">From £300</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="large-top-border"></span>
    <div class="catalog goods-list-container">
        <div id="goods-list" class="goods-list">
            <div class="wrapper-ad">
                <div class="inside-wrapper-ad">
                    <div class="ad-title">
                        Last weekend <span class="red-line">extra 50%</span> off on all reduced boots and shpulder bags
                    </div>
                    <div class="ad-body">
                        This offer is valid in-store and online.
                        Prices displayed reflect this additional discount.
                        This offer ends at 11:59 GMT on March 1st 2015
                    </div>
                </div>
            </div>
            <!--<div class="wrapper-good">-->
                <!--<div class="inside-wrapper-good">-->
                    <!--<a href="#">-->
                        <!--<div class="wrap-img-good">-->
                            <!--<img src="img/content/good_2.jpg" class="good__img">-->
                        <!--</div>-->
                        <!--<span class="good-label">New</span>-->
                        <!--<div class="good-footer">-->
                            <!--<span class="good-name">Boyfriend T-Shirt with Bohemian Print</span>-->
                            <!--<span class="good-note roman14-italic">More colours</span>-->
                            <!--<div class="good-price">-->
                                <!--<span class="good-old-price">£76.25</span>-->
                                <!--<span class="good-discount roman14-italic">-25%</span>-->
                                <!--<span class="good-new-price">£76.25</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <a href="javascript:void(0);" class="show-all-goods catalog__btn">Show more</a>
    </div>
    <div class="catalog-banner catalog-mobile-banner large-top-border">
        <div class="c-banner catalog-banner-1" style="background-image: url('img/banners/cat_1.jpg')">
            <div class="catalog-banner-label">
                <span class="c-baner1-name">Adidas Blue</span>
                <span class="good-note roman14-italic">For men</span>
            </div>
        </div>
        <div class="c-banner catalog-banner-2 m-show" style="background-image: url('img/banners/cat_2.jpg')">
            <div class="catalog-banner-label">
                <span class="c-baner1-name">Repair Patches</span>
                <span class="c-baner2-description">£150.50</span>
            </div>
        </div>
        <div class="c-banner catalog-banner-2 l-show" style="background-image: url('img/banners/cat_3.jpg')">
            <div class="catalog-banner-label">
                <span class="c-baner1-name red-line">Sale</span>
                <span class="good-note roman14-italic">-70%</span>
            </div>
        </div>
    </div>


</main>
<footer>
    <div class="footer-menu-container">
        <div class="footer-link-block">
            <h3>Quick Links</h3>
            <ul class="footer-link-menu">
                <li><a href="javascript:void(0);">Store locator</a></li>
                <li><a href="javascript:void(0);">Gift cards</a></li>
                <li><a href="javascript:void(0);">Size guide</a></li>
                <li><a href="javascript:void(0);">About us</a></li>
                <li><a href="javascript:void(0);">Support</a></li>
            </ul>
        </div>
        <div class="footer-link-block">
            <h3>Customer Care</h3>
            <ul class="footer-link-menu">
                <li><a href="javascript:void(0);">Customer service</a></li>
                <li><a href="javascript:void(0);">Track my order</a></li>
                <li><a href="javascript:void(0);">Return policy</a></li>
                <li><a href="javascript:void(0);">Shopping & delivery</a></li>
                <li><a href="javascript:void(0);">Contsct us</a></li>
                <li><a href="javascript:void(0);">Careers</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-contacts-wrapper">
        <div class="footer-contacts-container">
            <div class="footer-contacts-block">
                <h3>Questions</h3>
                <a class="footer-tweet" fref="javascript:void(0);">Tweet us <strong>@AmicableFashionHome</strong></a>
            </div>
            <div class="footer-contacts-block">
                <h3>Order by phone</h3>
                <span class="footer-phone">+2348167198806</span>
            </div>

        </div>
        <div class="footer-delivery l-show">
            A professional modeling career isn’t an easy one. It’s a full-time commitment 
            requiring personal sacrifice and a dedication to preparation. Amicable fashion 
            home began to from their incredible work ethic at a young age, spending time outside 
            school and on the weekends practicing in pursuit of the ultimate goal: to be counted 
            amongst the top models in the world. Our service operates in major cities around the world.
            Delivery time - 2-10 days.
        </div>
        <ul class="sotial-links">
            <li>
                <a href="javascript:void(0);">
                    <img src="img/icons/fb_ico.png">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="img/icons/twi_ico.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-additional-wrapper">
        <div class="footer-additional-block">
            <ul class="footer-additional-menu">
                <li>
                    <a href="javascript:void(0);">
                        Legal notice
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Site map
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright-block">
            <span class="footer-copyright">© 2022-2023, The Template Group inc.</span>
        </div>
        <div class="footer-share-block">
            <span class="footer-share">Share <span class="share-icon"><span class="c-share">1 437</span></span></span>
        </div>
    </div>
</footer>

<script src="js_library/lodash.min.js"></script>
<script src="data/catalog.js"></script>
<script src="js/common.js"></script>
<script src="js/catalog.js"></script>

<script type="text/template" id="catalog-item-template">
    <div class="wrapper-good">
        <div class="inside-wrapper-good">
            <a href="<%-product.url%>">
                <div class="wrap-img-good">
                    <img src="img/content/<%-product.thumbnail%>" class="good__img">
                </div>
                <% if (product.hasNew) { %>
                <span class="good-label">New</span>
                <% } %>

                <div class="good-footer">
                    <span class="good-name"><%- product.title %></span>
                    <% if (product.price == null && product.discountedPrice == null) { %>
                    <span class="good-note roman14-italic"><%- product.placeholder %></span>
                    <% } %>

                    <div class="good-price">
                        <% if (product.price != null && product.discountedPrice != product.price) { %>
                        <span class="good-old-price"><%- ViewHelper.priceFormat(product.price) %></span>
                        <span class="good-discount roman14-italic"><%- ViewHelper.percentDiscount(product.discountedPrice, product.price) %></span>
                        <span class="good-new-price"><%- ViewHelper.priceFormat(product.discountedPrice) %></span>
                        <% } else if (product.price != null && product.discountedPrice == product.price) { %>
                        <span class="good-new-price"><%- ViewHelper.priceFormat(product.price) %></span>
                        <% } %>
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>

</body>
</html>
