<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Osikemhekhai Bruno">
    <meta name="description" content="Amicable Fashion Home">
    <meta name="viewport" content="width = device-width">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/large.css">
    <title>Amicable Fashion Home</title>
</head>
<body>
<header>
    <nav class="nav-wrapper" role="navigation" id="nav">
        <div class="navbar">
            <a href="index.html"><div class="c-header-logo m-hidden-inline">Amicable Fashion Home</div></a>
            <a href="index.html"><div class="c-header-logo s-hidden-inline">Amicable Fashion Home</div></a>
            <div class="header-right">
                <div class="c-header-singup s-hidden-inline">E-mail sing up</div>
                <div class="c-header-bag"><a href="shopping-bag.html">Bag <span class="c-header-bag-price" id="header-bag-price"></span> (<span class="c-header-bag-quantity" id="header-bag-quantity">0</span>)</a></div>
                <div class="menu m-hidden-inline">
                    <div class="wrapper-menu-icon">
                        <div class="mobile-menu__icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-links radio_buttons_wrapper">
            <ul>
                <li><a href="catalog.html" class="menu__link radio_button is-active">Women</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Men</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Handbags</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Accessories</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Sale</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">New Arrivals</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Clerance</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Store Locator</a></li>
            </ul>
            <div id="search-block" class="c-header-search">
                <form action="" method="post" class="search">
                    <input type="search" name="" placeholder="Style Name" class="search__input" />
                    <input type="button" name="" value="" class="search__submit" />
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="promo-block large-top-border" id="carousel-wrapper">
    </div>
    <div class="main-banner large-top-border">
        <a href="item.html">
            <div class="main-banner-item main-b-1" style="background-image: url('img/banners/nikered.jpg')">
                <div class="main-banner-label">
                    <span class="banner-label">Nike Red</span>
                </div>
            </div>
        </a>
        <a href="item.html">
            <div class="main-banner-item main-b-2 only-m-show" style="background-image: url('img/banners/cat_3.jpg')">
                <div class="catalog-banner-label">
                    <span class="c-baner1-name red-line">Sale</span>
                    <span class="good-note roman14-italic">-70%</span>
                </div>
            </div>
        </a>
        <a href="catalog.html">
            <div class="main-banner-item main-b-3 l-show" style="background-image: url('img/banners/hats.jpg')">
                <div class="catalog-banner-label">
                    <span class="c-baner1-name">Caps & Hats</span>
                    <span class="good-note roman14-italic">Sale -50%</span>
                </div>
            </div>
        </a>
    </div>
    <div class="goods-list-container start-page large-top-border">
        <span class="like-h2">New arrivals</span>
        <div class="goods-list start">
            <div class="wrapper-good">
                <div class="inside-wrapper-good">
                    <a href="item.html">
                        <div class="wrap-img-good">
                            <img src="img/content/good_1.jpg" class="good__img">
                        </div>
                        <span class="good-label">New</span>
                        <div class="good-footer">
                            <span class="good-name">Only Skinny Jeans</span>
                            <div class="good-price">
                                <span class="good-new-price">£65.50</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="wrapper-good">
                <div class="inside-wrapper-good">
                    <a href="item.html">
                        <div class="wrap-img-good">
                            <img src="img/content/good_2.jpg" class="good__img">
                        </div>
                        <span class="good-label">New</span>
                        <div class="good-footer">
                            <span class="good-name">Neck Knitted Jumper</span>
                            <div class="good-price">
                                <span class="good-new-price">£76.25</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="wrapper-good">
                <div class="inside-wrapper-good">
                    <a href="item.html">
                        <div class="wrap-img-good">
                            <img src="img/content/good_3.jpg" class="good__img">
                        </div>
                        <div class="good-footer">
                            <span class="good-name">Turtle Neck Jumper in Rib</span>
                            <div class="good-price">
                                <span class="good-new-price">£130.25</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="wrapper-good">
                <div class="inside-wrapper-good">
                    <a href="item.html">
                        <div class="wrap-img-good">
                            <img src="img/content/good_4.jpg" class="good__img">
                        </div>
                        <div class="good-footer">
                            <span class="good-name">With Patchwork Crochet</span>
                            <div class="good-price">
                                <span class="good-new-price">£80.60</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="show-all-goods start">All arrivals</a>
    </div>
</main>
<footer>
    <div class="footer-menu-container">
        <div class="footer-link-block">
            <h3>Quick Links</h3>
            <ul class="footer-link-menu">
                <li><a href="javascript:void(0);">Store locator</a></li>
                <li><a href="javascript:void(0);">Gift cards</a></li>
                <li><a href="javascript:void(0);">Size guide</a></li>
                <li><a href="javascript:void(0);">About us</a></li>
                <li><a href="javascript:void(0);">Support</a></li>
            </ul>
        </div>
        <div class="footer-link-block">
            <h3>Customer Care</h3>
            <ul class="footer-link-menu">
                <li><a href="javascript:void(0);">Customer service</a></li>
                <li><a href="javascript:void(0);">Track my order</a></li>
                <li><a href="javascript:void(0);">Return policy</a></li>
                <li><a href="javascript:void(0);">Shopping & delivery</a></li>
                <li><a href="javascript:void(0);">Contsct us</a></li>
                <li><a href="javascript:void(0);">Careers</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-contacts-wrapper">
        <div class="footer-contacts-container">
            <div class="footer-contacts-block">
                <h3>Questions</h3>
                <a class="footer-tweet" fref="javascript:void(0);">Tweet us <strong>@AmicableFashionHome</strong></a>
            </div>
            <div class="footer-contacts-block">
                <h3>Order by phone</h3>
                <span class="footer-phone">+2348167198806</span>
            </div>

        </div>
        <div class="footer-delivery l-show">
            A professional modeling career isn’t an easy one. It’s a full-time commitment 
            requiring personal sacrifice and a dedication to preparation. Amicable fashion 
            home began to from their incredible work ethic at a young age, spending time outside 
            school and on the weekends practicing in pursuit of the ultimate goal: to be counted 
            amongst the top models in the world. Our service operates in major cities around the world.
            Delivery time - 2-10 days.
        </div>
        <ul class="sotial-links" title="sotial network icons">
            <li>
                <a href="javascript:void(0);">
                    <img src="img/icons/fb_ico.png" alt="sotial network icons">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="img/icons/twi_ico.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-additional-wrapper">
        <div class="footer-additional-block">
            <ul class="footer-additional-menu">
                <li>
                    <a href="javascript:void(0);">
                        Legal notice
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Site map
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright-block">
            <span class="footer-copyright">© 2022-2023, The Template Group inc.</span>
        </div>
        <div class="footer-share-block">
            <span class="footer-share">Share <span class="share-icon"><span class="c-share">1 437</span></span></span>
        </div>
    </div>
</footer>

<script src="js_library/lodash.min.js"></script>
<script src="js/common.js"></script>
<script src="js/start.js"></script>
<script src="js/carousel.js"></script>

<script type="text/template" id="carousel-template">
    <div class="carousel">
        <div class="inside-wrapper-carousel">
            <% items.forEach(function(item, index) { %>
            <a href="<%-item.action%>"><div style="background-image: url(<%-item.imagePath%>)" class="carousel_item" data-id="<%-index%>"></div></a>
            <% }); %>
            <span class="prev_btn step_control l-show"></span>
            <span class="next_btn step_control l-show"></span>
        </div>
        <div class="control-panel large-top-border">
            <div class="indicator">
                <% items.forEach(function(item, index) { %>
                <span class="carousel_indicator_item" data-id="<%-index%>"></span>
                <% }); %>
            </div>
        </div>
    </div>
</script>

</body>
</html>