<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Osikemhekhai Bruno">
    <meta name="description" content="Amicable Fashion Home">
    <meta name="viewport" content="width = device-width">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/large.css">
    <title>Amicable Fashion Home</title>
</head>
<body>
<header>
    <nav class="nav-wrapper" role="navigation" id="nav">
        <div class="navbar">
            <a href="index.html"><div class="c-header-logo m-hidden-inline">AAmicable Fashion Home</div></a>
            <a href="index.html"><div class="c-header-logo s-hidden-inline">Amicable Fashion Home</div></a>
            <div class="header-right">
                <div class="c-header-singup s-hidden-inline">E-mail sing up</div>
                <div class="c-header-bag">Bag <span class="c-header-bag-price" id="header-bag-price"></span> (<span class="c-header-bag-quantity" id="header-bag-quantity">0</span>)</div>
                <div class="menu m-hidden-inline">
                    <div class="wrapper-menu-icon">
                        <div class="mobile-menu__icon">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-links radio_buttons_wrapper">
            <ul>
                <li><a href="catalog.html" class="menu__link radio_button is-active">Women</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Men</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Handbags</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Accessories</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Sale</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">New Arrivals</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Clerance</a></li>
                <li><a href="javascript:void(0);" class="menu__link radio_button">Store Locator</a></li>
            </ul>
            <div id="search-block" class="c-header-search">
                <form action="" method="post" class="search">
                    <input type="search" name="" placeholder="Style Name" class="search__input" />
                    <input type="button" name="" value="" class="search__submit" />
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="top-block-wrapper cart large-top-border">
        <span class="shop-title">Shopping bag</span>
    </div>
    <span class="large-top-border"></span>
    <div class="shopping-bag goods-list-container" id="shopping-bag-list"></div>
    <div class="cart-message" id="cart-message">Your shopping bag is empty. Use Catalog to add new items</div>
    <div class="cart-notes border-top">
        You've qualified for Free Nigeria Next Day Delivery on your order. Don't forget to enter the code <span class="red-line">nexday</span> at checkout
    </div>
    <div class="cart-footer">
        <div class="cart-control"><a href="javascript:void(0);" id="clear-cart">Empty bag</a></div>
            <a href="javascript:void(0);" class="cart-buy-btn" id="buy-now">Buy now</a>
        <div class="cart-total"><span class="cart-total-title">Total Cost</span><span class="cart-total-price" id="cart-total-price">£251.50</span></div>
    </div>
</main>
<footer>
    <div class="footer-menu-container">
        <div class="footer-link-block">
            <h3>Quick Links</h3>
            <ul class="footer-link-menu">
                <li><a href="javascript:void(0);">Store locator</a></li>
                <li><a href="javascript:void(0);">Gift cards</a></li>
                <li><a href="javascript:void(0);">Size guide</a></li>
                <li><a href="javascript:void(0);">About us</a></li>
                <li><a href="javascript:void(0);">Support</a></li>
            </ul>
        </div>
        <div class="footer-link-block">
            <h3>Customer Care</h3>
            <ul class="footer-link-menu">
                <li><a href="javascript:void(0);">Customer service</a></li>
                <li><a href="javascript:void(0);">Track my order</a></li>
                <li><a href="javascript:void(0);">Return policy</a></li>
                <li><a href="javascript:void(0);">Shopping & delivery</a></li>
                <li><a href="javascript:void(0);">Contsct us</a></li>
                <li><a href="javascript:void(0);">Careers</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-contacts-wrapper">
        <div class="footer-contacts-container">
            <div class="footer-contacts-block">
                <h3>Questions</h3>
                <a class="footer-tweet" fref="javascript:void(0);">Tweet us <strong>@AmicableFashionHome</strong></a>
            </div>
            <div class="footer-contacts-block">
                <h3>Order by phone</h3>
                <span class="footer-phone">+2348167198806</span>
            </div>

        </div>
        <div class="footer-delivery l-show">
            A professional modeling career isn’t an easy one. It’s a full-time commitment 
            requiring personal sacrifice and a dedication to preparation. Amicable fashion 
            home began to from their incredible work ethic at a young age, spending time outside 
            school and on the weekends practicing in pursuit of the ultimate goal: to be counted 
            amongst the top models in the world. Our service operates in major cities around the world.
            Delivery time - 2-10 days.
        </div>
        <ul class="sotial-links">
            <li>
                <a href="javascript:void(0);">
                    <img src="img/icons/fb_ico.png">
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="img/icons/twi_ico.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-additional-wrapper">
        <div class="footer-additional-block">
            <ul class="footer-additional-menu">
                <li>
                    <a href="javascript:void(0);">
                        Legal notice
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Site map
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright-block">
            <span class="footer-copyright">© 2022–2023, Amicable Fashion Home</span>
        </div>
        <div class="footer-share-block">
            <span class="footer-share">Share <span class="share-icon"><span class="c-share">1 437</span></span></span>
        </div>
    </div>
</footer>

<script type="text/template" id="cart-item-template">
    <div class="wrapper-good">
        <div class="inside-wrapper-good">
            <a href="<%-cartItem.url%>">
                <div class="wrap-img-good">
                    <img src="img/content/<%-cartItem.thumbnail%>" class="good__img">
                </div>
                <% if (cartItem.hasNew) { %>
                <span class="good-label">New</span>
                <% } %>
            </a>
        </div>
        <div class="item-panel">
            <div class="cart-header">
                <span class="cart-item-name"><%-cartItem.title%></span>
                <span class="cart-item-price"><%-ViewHelper.priceFormat(cartItem.price)%></span>
            </div>
            <div class="cart-item-panel">
                <div class="cart-properties">
                    <span class="cart-property">Color: <%-cartItem.color%></span>
                    <span class="cart-property">Size: <%-cartItem.size%></span>
                    <span class="cart-property">
                        Quantity:<span class="q-control minus" data-id="<%-cartItem.uniqueId%>"></span>
                        <span class="q-control-value"><%-cartItem.quantity%></span>
                        <span class="q-control plus" data-id="<%-cartItem.uniqueId%>"></span>
                    </span>
                </div>
                <a href="javascript:void(0);" class="remove-item" data-id="<%-cartItem.uniqueId%>">Remove item</a>
            </div>
        </div>
    </div>
</script>

<script src="js_library/lodash.min.js"></script>
<script src="js/common.js"></script>
<script src="js/shopping-bag.js"></script>
</body>
</html>

</body>
</html>